HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Compiled output
/src/main/webapp/dist
/src/main/webapp/tmp
/src/main/webapp/out-tsc
/src/main/webapp/bazel-out

# Node
/src/main/webapp/node_modules
/src/main/webapp/npm-debug.log
/src/main/webapp/yarn-error.log

# Miscellaneous
/src/main/webapp/.angular/cache
/src/main/webapp/.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/src/main/webapp/typings

# System files
.DS_Store
Thumbs.db
